<section class="about-section" @fadeIn>
  <app-side-nav></app-side-nav>
    <div class="about-container">
      <h1 class="about-title">Let me introduce myself</h1>
      
      <div class="divider"></div>
      
      <div class="about-content">
        <p class="about-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed<br>
          urna in justo euismod condimentum.
        </p>
        
        <p class="about-text">
          Vestibulum dignissim orci vitae eros rutrum euismod. Vestibulum<br>
          tempor, sem et molestie egestas, dui tortor laoreet tellus, id rhoncus<br>
          mauris neque malesuada augue.
        </p>
      </div>
      
      <div class="divider"></div>
      
      <div class="about-details">
        <div class="detail-column">
          <p class="detail-item"><strong>Senior UI UX Designer</strong></p>
          <p class="detail-item"><strong>Work at Lorem Company</strong></p>
          <p class="detail-item"><strong>Alumni from Ipsum University</strong></p>
        </div>
        
        <div class="detail-column">
          <p class="detail-item"><strong>From England</strong></p>
          <p class="detail-item"><strong>Verified Account</strong></p>
          <p class="detail-item"><strong>Available for Hire</strong></p>
        </div>
      </div>
    </div>
  </section>