<!-- side-nav.component.html -->
<div class="side-container">
<div class="nav-logo">
  <img src="/assets/Logo.png" alt="Portfolio Logo">
</div>
<nav class="side-nav">
    <div class="nav-profile">
      <!-- <div class="nav-hover"> -->
        <a href="http://localhost:4200" class="nav-hover no-underline">
        <span class="nav-icon"><img src="/assets/plus.png" alt="Add"></span>
        <span class="nav-label">Home</span>
        </a>
      <!-- </div> -->
    </div>
    <div class="nav-profile">
      <div class="nav-hover">
        <span class="nav-icon"><img src="/assets/keypad.png" alt="Keypad"></span>
        <span class="nav-label">Projects</span>
      </div>
    </div>
    <div class="nav-profile">
      <div class="nav-hover">
        <span class="nav-icon"><img src="/assets/skills.png" alt="Chat"></span>
        <span class="nav-label">Skills</span>
      </div>
    </div>
    <div class="nav-profile">
      <a href="http://localhost:4200/about" class="nav-hover no-underline">
        <span class="nav-icon"><img src="/assets/copy.png" alt="Copy"></span>
        <span class="nav-label">About</span>
      </a>
    </div>
    <div class="nav-profile">
      <div class="nav-hover">
        <span class="nav-icon"><img src="/assets/email.png" alt="Email"></span>
        <span class="nav-label">Contact</span>
      </div>
    </div>
  </nav>
</div>