<!-- Toggle Button -->
<button 
  class="menu-toggle" 
  *ngIf="!isSidebarOpen" 
  (click)="toggleSidebar()"
  aria-label="Open sidebar"
>
  ☰
</button>
<!-- <div class="menu-toggle" (click)="toggleSidebar()">
  <img src="/assets/Logo.png" alt="Logo">
</div> 
<!-- Overlay -->
<div class="overlay" [class.show]="isSidebarOpen" (click)="closeSidebar()"></div>

<!-- Sidebar Container -->
<div class="side-container" [class.open]="isSidebarOpen">
  <div class="nav-logo">
    <img src="/assets/Logo.png" alt="Logo">
  </div>

  <nav class="side-nav">
    <div class="nav-profile" *ngFor="let link of navLinks">
      <a (click)="closeSidebar()" [href]="link.href" class="nav-hover no-underline">
        <span class="nav-icon">
          <img [src]="link.icon" [alt]="link.label">
        </span>
        <span class="nav-label">{{ link.label }}</span>
      </a>
    </div>
  </nav>
</div>
