<div class="portfolio-container">
  <app-side-nav></app-side-nav>

  
  <!-- Main Content -->
  <main class="main-content">
    <section class="cover" id="cover">
      
    </section>
    <section class="hero-section" id="hero">
      <div class="hero-text">
        <h2 class="hello-world">
          <span class="hello">Hello</span>
          <span class="world-fall">World,</span>
        </h2>
        
        
        
        
        <h1>I am <strong>Nayf Serag, Software Engineer</strong></h1>
        <p>
          I design and optimize scalable systems with microservices, APIs, and containerized architectures. Passionate about building robust, high-performance applications.
        </p>
        <div class="social-row">
          <a href="https://linkedin.com/in/nayf-serag-70a3611b8" target="_blank"><img src="/assets/icons8-linkedin-120.png" alt="LinkedIn"></a>
          <a href="https://github.com/nayefserag" target="_blank"><img src="/assets/icons8-github-250.png" alt="GitHub"></a>
          <a href="https://bold.pro/my/nayf-serag-240522202109" target="_blank"><img src="/assets/icons8-gmail-100.png" alt="Portfolio"></a>
          <button class="download-btn" onclick="window.open('/assets/Nayf-Serag-CV.pdf')">
            <img src="/assets/icons8-download-96.png" alt="Download Icon" style="width: 20px; height: 20px;">
            DOWNLOAD CV
          </button>
          
        </div>
      </div>
    
      <div class="avatar-box">
        <img src="/assets/image.png" alt="Nayf Avatar" class="avatar-img">
        <div class="blur-container">
          <div class="hire-box">
            <span class="status-dot"></span>
            AVAILABLE FOR HIRE
            <button class="contact-btn" onclick="location.href='mailto:nayfserag@outlook.com'">CONTACT ME</button>
          </div>
        </div>
      </div>
    </section>
    
    <section class="achievements-bar" id="achievements">
      <div class="achievement">
        <div>
          <img src="/assets/pngwing.png" alt="Award Medal" class="award-medal">
          <div class="blue-component">
            <span class="blue-text">Almatar Hackathon</span>
            <span class="blue-date">2nd Place</span>
          </div>
          <h4>Backend Developer – Work On My Machine Team</h4>
          <p>AWARD / MAR 2024</p>
        </div>
      </div>
    </section>
    
    
    
  </main>
</div>
